Repository abadr99/G1_8bit_MCUs_Drivers, pull requests merged in 2023-08, with the labels that each got.

#31 GPIO Test [@Manar, @Badr]
  C/main.c
  C/tests/GPIO/avr.hex
  C/tests/GPIO/main.c
Labels: hal

#32 Fix B004 Rule (Badr)
  C/hal/Buzzer/Buzzer.c
  C/hal/Buzzer/Buzzer.h
  C/hal/LED/LED.c
  C/hal/LED/LED.h
  C/main.c
  C/mcal/GPIO/GPIO.c
  C/mcal/GPIO/GPIO.h
  C/tests/GPIO/main.c
  scripts/style-checking/rules-scripts/scripts/rules/B004.tcl
Labels: bug, build

#36 fix some words [@Noura,@Badr]
  C/common/Types.h
  C/hal/Buzzer/Buzzer.c
  C/hal/LED/LED.c
  C/mcal/GPIO/GPIO.c
Labels: bug

#40 Add Doxygen Documentation For LED Driver [@Noura,@Badr]
  C/hal/LED/LED.h
Labels: documentation, hal, Doxygen

#39 Add Doxygen Documentation For Buzzer Driver [@Noura,@Badr]
  C/hal/Buzzer/Buzzer.h
Labels: documentation, hal, Doxygen

#30 add Push Button interfacing [@Noura,@ABadr]
  C/build.dir
  C/hal/PushButton/PushButton.c
  C/hal/PushButton/PushButton.h
  C/main.c
Labels: hal

#42 Support ignore option for some vera rules (Badr)
  C/common/Config.h
  C/common/Types.h
  C/tests/GPIO/main.c
  scripts/style-checking/rules-scripts/scripts/rules/B002.tcl
  scripts/style-checking/rules-scripts/scripts/rules/B004.tcl
  scripts/style-checking/rules-scripts/scripts/rules/L004.tcl
Labels: enhancement, vera

#33 DC Motor Driver and it test [@Manar, @Badr]
  C/build.dir
  C/common/Types.h
  C/hal/DC_Motor/DC_Motor.c
  C/hal/DC_Motor/DC_Motor.h
  C/tests/hal/DC_Motor/avr.hex
  C/tests/hal/DC_Motor/main.c
  C/tests/mcal/GPIO/avr.hex
  C/tests/mcal/GPIO/main.c
Labels: hal

#28 adding implementation of PIR sensor
  C/build.dir
  C/common/Types.h
  C/hal/PIR/PIR.c
  C/hal/PIR/PIR.h
Labels: hal

#49 Fix vscode errors
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: enhancement, build

#35 Adding LCD Driver and Test it [@Refat ,@Badr]
  C/build.dir
  C/common/Types.h
  C/hal/LCD/LCD_CustomChar.h
  C/hal/LCD/LCD_Interface.h
  C/hal/LCD/LCD_Private.h
  C/hal/LCD/LCD_Program.c
  C/mcal/GPIO/GPIO.c
  C/mcal/GPIO/GPIO.h
  C/tests/LCD/main.c
Labels: avr, mcal, hal

#45 adding seven segment and seven segment decoder implementation
  C/build.dir
  C/hal/SevenSegment/SevenSegment.c
  C/hal/SevenSegment/SevenSegment.h
  C/hal/SevenSegment/SevenSegmentDecoder.c
  C/hal/SevenSegment/SevenSegmentDecoder.h
Labels: documentation, avr, pic, mcal

#41 Support doxygen in build system (Badr, Manar)
  C/.gitignore
  C/Makefile
  C/doxygen.cnf
  scripts/doxygen/doxygen.sh
Labels: build, Doxygen

#54 Avoid using build.dir [Badr]
  C/Makefile
  C/build.dir
Labels: enhancement, build, CI

#50 Adding implementation of EXTI and GIC Drivers [@MRefat ,@ABadr]
  C/common/Registes.h
  C/mcal/EXTI/EXTI_Interface.h
  C/mcal/EXTI/EXTI_Private.h
  C/mcal/EXTI/EXTI_Program.c
  C/mcal/GIC/GIC_Interface.h
  C/mcal/GIC/GIC_Private.h
  C/mcal/GIC/GIC_Program.c
Labels: enhancement, avr, mcal

#58 fix document[@Noura,@Badr]
  C/hal/Buzzer/Buzzer.c
  C/hal/Buzzer/Buzzer.h
Labels: hal

#57 Fix LED Documentation[@nouragamall,@AbdelrahmanBadr22]
  C/hal/LED/LED.c
  C/hal/LED/LED.h
Labels: hal

#56 add relay driver[@Noura,@Badr]
  C/hal/Relay/Relay.c
  C/hal/Relay/Relay.h
Labels: hal

#63 adding config to source files
  C/common/Registes.h
  C/mcal/EXTI/EXTI_Program.c
  C/mcal/GIC/GIC_Program.c
Labels: bug
