Repository abadr99/G1_8bit_MCUs_Drivers, pull requests merged in 2023-10, with the labels that each got.

#60 add Interrupt for pic microcontroller[Noura,Manar]
  C/common/Registes.h
  C/common/Types.h
  C/mcal/EXTI/EXTI_Interface.h
  C/mcal/EXTI/EXTI_Private.h
  C/mcal/EXTI/EXTI_Program.c
  C/mcal/GIC/GIC_Interface.h
  C/mcal/GIC/GIC_Private.h
  C/mcal/GIC/GIC_Program.c
  C/mcal/GPIO/GPIO.h
  C/mcal/ISR/ISR.c
  C/mcal/ISR/ISR.h
  C/mcal/ISR/ISR_private.h
Labels: mcal

#53 Initial Support For Testing [Badr]
  .github/workflows/c-cpp.yml
  .github/workflows/ci.yml
  .github/workflows/clean-test.sh
  .github/workflows/clean.sh
  .github/workflows/configure-test.sh
  .github/workflows/run-tests.sh
  .vscode/settings.json
  C/Makefile
  C/main.c
  C/mcal/GPIO/GPIO.h
  C/regression-tests/regression-tests/gpio/Makefile
  C/regression-tests/regression-tests/gpio/gpio-test.testelf
  C/regression-tests/regression-tests/gpio/main.c
  C/regression-tests/regression-tests/gpio/results.expected
  C/regression-tests/regression-tests/utils/Makefile
  C/regression-tests/regression-tests/utils/main.c
  C/regression-tests/regression-tests/utils/results.expected
  C/regression-tests/regression-tests/utils/utils-test.testelf
  scripts/testing/run-all-regressions.sh
  scripts/testing/run-regressions.py
  scripts/testing/run-regressions.sh
  scripts/testing/run-simu-avr.sh
Labels: enhancement, CI

#80 Add generic implementation of stack (Badr)
  C/common/Types.h
  C/common/test.h
  C/regression-tests/regression-tests/stack/Makefile
  C/regression-tests/regression-tests/stack/main.c
  C/regression-tests/regression-tests/stack/results.expected
  C/regression-tests/regression-tests/stack/stack-test.testelf
  C/utils/stack/stack.c
  C/utils/stack/stack.h
  C/utils/stack/stack_macros.h
Labels: common

#92 Modify sint8_t type in LCD implementation [@MohamedRefat13,@AbdelrahmanBadr22]
  C/hal/LCD/LCD_Interface.h
  C/hal/LCD/LCD_Program.c
Labels: bug, hal

#98 Support PIC in build system (@AbdelrahmanBadr22)
  .github/workflows/ci.yml
  .github/workflows/configure-build-pic.sh
  C/.gitignore
  C/Makefile
  C/avr.mk
  C/build.dir
  C/common/Types.h
  C/hal/Keypad/Keypad_only_one.c
  C/hal/LCD/LCD_Program.c
  C/mcal/GPIO/GPIO.c
  C/mcal/GPIO/GPIO.h
  C/mcal/GPIO/GPIOPrivate.h
  C/pic.mk
  C/regression-tests/regression-tests/gpio/Makefile
  C/regression-tests/regression-tests/gpio/results.expected
  C/regression-tests/regression-tests/stack/Makefile
  C/regression-tests/regression-tests/stack/results.expected
  C/regression-tests/regression-tests/utils/Makefile
  C/regression-tests/regression-tests/utils/results.expected
  scripts/testing/run-regressions.sh
Labels: avr, pic, build, CI

#95 Adding project files[@MohamedRefat13,@abadr99]
  C/app/Calculator/Mohamed_Refat/Calculator.c
  C/app/Calculator/Mohamed_Refat/Calculator.h
  C/app/Calculator/Mohamed_Refat/Linked_Stack.c
  C/app/Calculator/Mohamed_Refat/Linked_Stack.h
  C/app/Calculator/Mohamed_Refat/file.c
  C/app/Calculator/Mohamed_Refat/file.h
  C/app/Calculator/Mohamed_Refat/main.c
  C/common/Types.h
Labels: app

#73 Calculator APP [@ManarAbdelraouf, @abadr99]
  C/app/Calculator/Manar_AbdelRaouf/Calc.c
  C/app/Calculator/Manar_AbdelRaouf/Calc.h
  C/app/Calculator/Manar_AbdelRaouf/Calc_private.h
  C/app/Calculator/Manar_AbdelRaouf/Makefile
  C/app/Calculator/Manar_AbdelRaouf/main.c
  C/app/Calculator/Mohamed_Refat/file.c
  C/app/Calculator/Mohamed_Refat/file.h
  C/hal/Keypad/Keypad_only_one.c
  C/regression-tests/regression-tests/stack/main.c
  C/regression-tests/regression-tests/stack/results.expected
  C/utils/stack/stack.c
  C/utils/stack/stack.h
  C/utils/stack/stack_macros.h
Labels: avr, app, review

#88 add Calculator app[@nouragamall,@AbdelrahmanBadr22]
  C/app/Calculator/Noura_Gamal/Makefile
  C/app/Calculator/Noura_Gamal/calc.c
  C/app/Calculator/Noura_Gamal/calc.h
  C/app/Calculator/Noura_Gamal/main.c
Labels: avr, app, review

#103 Noura[@nouragamall,@abadr99]
  C/app/Calculator/Noura_Gamal/calc.c
Labels: avr, app, review
