Repository abadr99/G1_8bit_MCUs_Drivers, pull requests merged in 2023-09, with the labels that each got.

#43 Keypad driver [Manar, Noran]
  C/build.dir
  C/hal/Keypad/Keypad.c
  C/hal/Keypad/Keypad.h
  C/hal/Keypad/Keypad_config_only_one.h
  C/hal/Keypad/Keypad_only_one.c
  C/hal/Keypad/Keypad_only_one.h
  C/main.c
  C/mcal/GPIO/GPIO.c
  C/mcal/GPIO/GPIO.h
Labels: avr, hal

#74 Adding script to remove trailing white spases from any file [MRefat,ABadr]
  scripts/Trailing-remove.py
Labels: enhancement

#75 Fixing bug at LCD [@MRefat, @ABadr]
  C/hal/LCD/LCD_Program.c
Labels: bug, hal, HIGH
