Repository abadr99/G1_8bit_MCUs_Drivers, pull requests merged in 2023-12, with the labels that each got.

#110 Use correct name of target variable
  C/avr.mk
Labels: bug

#117 116 Fix Error With Testing Infrastructure
  C/.gitignore
  C/Makefile
  C/regression-tests/regression-tests/GPIO/main.c
  C/regression-tests/regression-tests/GPIO/results.expected
  C/regression-tests/regression-tests/gpio/main.c
  C/regression-tests/regression-tests/gpio/results.expected
  scripts/testing/run-all-regressions.sh
  scripts/testing/run-regressions.sh
Labels: bug, test

#115 Adding Timer Drivers [@MohamedRefat13, abadr99]
  C/common/Registes.h
  C/mcal/TIMER/TIMER_Interface.h
  C/mcal/TIMER/TIMER_Private.h
  C/mcal/TIMER/TIMER_Program.c
Labels: enhancement, mcal

#69 adding initial implementation of calculator [Noran]
  C/app/Calculator/Noran/Makefile
  C/app/Calculator/Noran/calc.c
  C/app/Calculator/Noran/calc.h
  C/app/Calculator/Noran/main.c
Labels: avr, app, review

#105 Add UART interface (@nouragamall, @Mariamahmed44)
  C/common/Registes.h
  C/mcal/UART/UART_Config.h
  C/mcal/UART/UART_Interface.h
  C/mcal/UART/UART_Private.h
  C/mcal/UART/UART_Program.c
Labels: avr, pic, mcal, review

#114 Adding I2C Driver [@MRefat. @Mariamahmed44]
  C/common/Registes.h
  C/common/Types.h
  C/mcal/I2C/I2C_Config.h
  C/mcal/I2C/I2C_Interface.h
  C/mcal/I2C/I2C_Private.h
  C/mcal/I2C/I2C_Program.c
Labels: enhancement, avr, mcal

#119 adding a function that prints the binary of a number
  C/common/test.h
  C/regression-tests/regression-tests/gpio/main.c
  C/regression-tests/regression-tests/gpio/results.expected
Labels: enhancement
