Repository abadr99/G1_8bit_MCUs_Drivers, pull requests merged in 2024-02, with the labels that each got.

#122 Fix
  C/mcal/TIMER/TIMER_Program.c
Labels: fixed

#123 Adding Some Changes to Timer Driver [@MohamedRefat13 ]
  .vscode/settings.json
  C/common/Config.h
  C/common/Registes.h
  C/mcal/I2C/I2C_Config.h
  C/mcal/I2C/I2C_Program.c
  C/mcal/TIMER/TIMER_Interface.h
  C/mcal/TIMER/TIMER_Program.c
Labels: enhancement, avr, mcal

#112 add SPI Interface
  C/common/Registes.h
  C/mcal/SPI/SPI_config.h
  C/mcal/SPI/SPI_interface.h
  C/mcal/SPI/SPI_private.h
  C/mcal/SPI/SPI_program.c
Labels: avr, pic, mcal, review

#125 Add Interrupt Driver for PIC [ManarAbdelraouf,@abadr99]
  C/common/Types.h
  C/mcal/ADC/ADC_Private.h
  C/mcal/ADC/ADC_pogram.c
  C/mcal/EXTI/EXTI_Interface.h
  C/mcal/EXTI/EXTI_Private.h
  C/mcal/EXTI/EXTI_Program.c
  C/mcal/GIC/GIC_Private.h
  C/mcal/GIC/GIC_Program.c
  C/mcal/ISR/ISR.c
  C/mcal/ISR/ISR.h
  C/mcal/ISR/ISR_private.h
Labels: merge

#128 delayFunction
  C/mcal/TIMER/TIMER_Private.h
  C/utils/Delay/Delay.c
  C/utils/Delay/Delay.h
Labels: Medium, review

#126 Adding Servo Driver[@MRefat,@ABadr]
  C/hal/Servo/Servo.c
  C/hal/Servo/Servo.h
  C/tests/hal/Servo/main.c
Labels: enhancement, avr, hal, Medium, test, review

#131 Enhance Delay Handling
  .vscode/settings.json
  C/common/Config.h
  C/hal/LCD/LCD_Program.c
  C/mcal/TIMER/TIMER_Interface.h
  C/mcal/TIMER/TIMER_Program.c
  C/tests/hal/Buzzer/main.c
  C/tests/hal/DC_Motor/main.c
  C/tests/hal/LCD/main.c
  C/tests/hal/LED/main.c
  C/tests/hal/Servo/main.c
  C/tests/mcal/ADC/main.c
  C/tests/mcal/GPIO/main.c
  C/utils/delay/Delay.c
  C/utils/delay/Delay.h
Labels: enhancement, avr, pic

#127 StepperMotor
  C/hal/Stepper_Motor/StepperMotor.c
  C/hal/Stepper_Motor/StepperMotor.h
Labels: avr, hal, review

#136 Cleanup whole project (noran, noura)
  C/hal/Buzzer/Buzzer.c
  C/hal/DC_Motor/DC_Motor.c
  C/hal/Keypad/Keypad.c
  C/hal/Keypad/Keypad_only_one.c
  C/hal/LCD/LCD_Program.c
  C/hal/LED/LED.c
  C/hal/PIR/PIR.c
  C/hal/PushButton/PushButton.c
  C/hal/Relay/Relay.c
  C/hal/Servo/Servo.c
  C/hal/SevenSegment/SevenSegment.c
  C/hal/SevenSegment/SevenSegmentDecoder.c
  C/hal/Stepper_Motor/StepperMotor.c
  C/mcal/ADC/ADC_Private.h
  C/mcal/ADC/ADC_config.h
  C/mcal/ADC/ADC_interface.h
  C/mcal/ADC/ADC_pogram.c
  C/mcal/EXTI/EXTI_Interface.h
  C/mcal/EXTI/EXTI_Private.h
  C/mcal/EXTI/EXTI_Program.c
  C/mcal/GIC/GIC_Interface.h
  C/mcal/GIC/GIC_Private.h
  C/mcal/GIC/GIC_Program.c
  C/mcal/GPIO/GPIO.c
  C/mcal/GPIO/GPIOPrivate.h
  C/mcal/I2C/I2C_Config.h
  C/mcal/I2C/I2C_Interface.h
  C/mcal/I2C/I2C_Private.h
  C/mcal/I2C/I2C_Program.c
  C/mcal/ISR/ISR.c
  C/mcal/ISR/ISR.h
  C/mcal/ISR/ISR_private.h
  C/mcal/SPI/SPI_config.h
  C/mcal/SPI/SPI_interface.h
  C/mcal/SPI/SPI_private.h
  C/mcal/SPI/SPI_program.c
  C/mcal/TIMER/TIMER_Interface.h
  C/mcal/TIMER/TIMER_Private.h
  C/mcal/TIMER/TIMER_Program.c
  C/mcal/UART/UART_Config.h
  C/mcal/UART/UART_Interface.h
  C/mcal/UART/UART_Private.h
  C/mcal/UART/UART_Program.c
  C/regression-tests/regression-tests/interrupt/main.c
Labels: enhancement, mcal, hal, review

#137 Adding WDT and Modify Delay[@MohamedRefat13, @abadr99]
  C/common/Registes.h
  C/mcal/WDT/WDT.c
  C/mcal/WDT/WDT.h
  C/tests/mcal/WDT/main.c
Labels: avr, mcal

#138 Add Sleep Modes for AVR and PIC [ManarAbdelraouf, @abadr99]
  C/common/Registes.h
  C/mcal/SLEEP/SLEEP.c
  C/mcal/SLEEP/SLEEP.h
Labels: mcal

#132 Adding ICU Driver[@MohamedRefat13]
  C/hal/Ultrasonic/Ultrasonic.c
  C/hal/Ultrasonic/Ultrasonic.h
  C/mcal/ICU/ICU.c
  C/mcal/ICU/ICU.h
  C/mcal/TIMER/TIMER_Interface.h
  C/mcal/TIMER/TIMER_Program.c
  C/utils/delay/Delay.c
Labels: avr, mcal
